# ORDINAL ENCODING OR LABEL ENCODING


Ordinal numbering encoding or Label Encoding

Ordinal categorical variables

Ordinal data is a categorical, statistical data type where the variables have natural, ordered categories and the distances between the categories is not known.


For example:

Student's grade in an exam (A, B, C or Fail).

Educational level, with the categories: Elementary school, High school, College graduate, PhD ranked from 1 to 4.
    
When the categorical variables are ordinal, the most straightforward best approach is to
replace the labels by some ordinal number based on the ranks.

In [17]:
import pandas as pd
import datetime

In [18]:
# create a variable with dates, and from that extract the weekday
# I create a list of dates with 20 days difference from today
# and then transform it into a dataframe
df_base=datetime.datetime.today()
df_date_list=[df_base-datetime.timedelta(days=x) for x in range(0,20)]
df=pd.DataFrame(df_date_list)
df.columns = ['day']
df

                          day
0  2020-10-13 19:21:44.485731
1  2020-10-12 19:21:44.485731
2  2020-10-11 19:21:44.485731
3  2020-10-10 19:21:44.485731
4  2020-10-09 19:21:44.485731
5  2020-10-08 19:21:44.485731
6  2020-10-07 19:21:44.485731
7  2020-10-06 19:21:44.485731
8  2020-10-05 19:21:44.485731
9  2020-10-04 19:21:44.485731
10 2020-10-03 19:21:44.485731
11 2020-10-02 19:21:44.485731
12 2020-10-01 19:21:44.485731
13 2020-09-30 19:21:44.485731
14 2020-09-29 19:21:44.485731
15 2020-09-28 19:21:44.485731
16 2020-09-27 19:21:44.485731
17 2020-09-26 19:21:44.485731
18 2020-09-25 19:21:44.485731
19 2020-09-24 19:21:44.485731

In [20]:
# Extract the week_day
df['Weekday'] = df['day'].dt.strftime("%A")
df

                          day    Weekday
0  2020-10-13 19:21:44.485731    Tuesday
1  2020-10-12 19:21:44.485731     Monday
2  2020-10-11 19:21:44.485731     Sunday
3  2020-10-10 19:21:44.485731   Saturday
4  2020-10-09 19:21:44.485731     Friday
5  2020-10-08 19:21:44.485731   Thursday
6  2020-10-07 19:21:44.485731  Wednesday
7  2020-10-06 19:21:44.485731    Tuesday
8  2020-10-05 19:21:44.485731     Monday
9  2020-10-04 19:21:44.485731     Sunday
10 2020-10-03 19:21:44.485731   Saturday
11 2020-10-02 19:21:44.485731     Friday
12 2020-10-01 19:21:44.485731   Thursday
13 2020-09-30 19:21:44.485731  Wednesday
14 2020-09-29 19:21:44.485731    Tuesday
15 2020-09-28 19:21:44.485731     Monday
16 2020-09-27 19:21:44.485731     Sunday
17 2020-09-26 19:21:44.485731   Saturday
18 2020-09-25 19:21:44.485731     Friday
19 2020-09-24 19:21:44.485731   Thursday

In [25]:

# Engineer categorical variable by ordinal number replacement
weekday_map={'Monday':1,'Tuesday':2,'Wednesday':3,'Thursday':4,'Friday':5,'Saturday':6,'Sunday':7}
df['day_ordinal']=df.Weekday.map(weekday_map)
df

                          day    Weekday  day_ordinal
0  2020-10-13 19:21:44.485731    Tuesday            2
1  2020-10-12 19:21:44.485731     Monday            1
2  2020-10-11 19:21:44.485731     Sunday            7
3  2020-10-10 19:21:44.485731   Saturday            6
4  2020-10-09 19:21:44.485731     Friday            5
5  2020-10-08 19:21:44.485731   Thursday            4
6  2020-10-07 19:21:44.485731  Wednesday            3
7  2020-10-06 19:21:44.485731    Tuesday            2
8  2020-10-05 19:21:44.485731     Monday            1
9  2020-10-04 19:21:44.485731     Sunday            7
10 2020-10-03 19:21:44.485731   Saturday            6
11 2020-10-02 19:21:44.485731     Friday            5
12 2020-10-01 19:21:44.485731   Thursday            4
13 2020-09-30 19:21:44.485731  Wednesday            3
14 2020-09-29 19:21:44.485731    Tuesday            2
15 2020-09-28 19:21:44.485731     Monday            1
16 2020-09-27 19:21:44.485731     Sunday            7
17 2020-09-26 19:21:44.485731   Saturday            6
18 2020-09-25 19:21:44.485731     Friday            5
19 2020-09-24 19:21:44.485731   Thursday            4


Ordinal Measurement Advantages
Ordinal measurement is normally used for surveys and questionnaires. Statistical analysis is applied to the responses once they are collected to place the people who took the survey into the various categories. The data is then compared to draw inferences and conclusions about the whole surveyed population with regard to the specific variables. The advantage of using ordinal measurement is ease of collation and categorization. If you ask a survey question without providing the variables, the answers are likely to be so diverse they cannot be converted to statistics.

With Respect to Machine Learning

Keeps the semantical information of the variable (human readable content)

Straightforward

Ordinal Measurement Disadvantages
The same characteristics of ordinal measurement that create its advantages also create certain disadvantages. The responses are often so narrow in relation to the question that they create or magnify bias that is not factored into the survey. For example, on the question about satisfaction with the governor, people might be satisfied with his job performance but upset about a recent sex scandal. The survey question might lead respondents to state their dissatisfaction about the scandal, in spite of satisfaction with his job performance -- but the statistical conclusion will not differentiate.

With Respect to Machine Learning

Does not add machine learning valuable information